fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary
alembic

pydantic
pydantic-settings

python-dotenv

passlib[bcrypt]
python-jose[cryptography]

python-multipart

reportlab

scikit-learn
pandas
numpy

shap

pytest
httpx